@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap');
$background: #2F2325;
$pastel-light-pink: #FFF2E7;
$primary: #A45A49;
$alt: #E68E7B;
$pastel-pink: #FEAFBE;
$pastel-green: #B3DFD3;
$pastel-yellow: #EFC764;
$pastel-blue: #97D4D9;